h1 {
  font-family: fantasy;
  font-weight: bold;
  font-size: 50px
}

body {
  margin: 20px;
  padding: 30px;
}

.button {
  background-color: green;
  color: black;
  border-radius: 5px
}

.input {
  background-color: rgb(249, 248, 212);
}

